@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

body{
  background-color: rgb(243, 248, 245);
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NavBar */
.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
  float: right;
  padding-left: 1%;
  font-size: 20px;
  color: rgb(7, 0, 0);
  padding: 14px 20px;
  text-decoration: none;
  margin-right: 15px;
}

.navbar h1{
  font-size: 35px;
  margin-left: 10px;
  margin-top: 5px;
}

.navbar a:hover{
  color: #29b8b4;
  transition: 250ms;
  background-color: rgba(144, 238, 144, 0.37);
  border-radius: 20px;
}

/* Home Pagina */
.home_gallery{
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 98vh;
  grid-template-areas: 
  'colom1 colom1'
  'colom2 colom3'
  'footer1 footer1';
}

.div1, .div2, .div3{
  /* border: solid black 2px; */
  
}

.div1 { 
    grid-area: colom1;
}

.div2 { 
    grid-area: colom2;
}

.div3 { 
    grid-area: colom3;
}

.footer { 
  grid-area: footer1;
}

/* Slide Show */
.mySlides{
  width: auto;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

button{
  padding: 5px 20px;
  background: darkslategray;
  border: none;
  border-radius: 5px;
  color: white;
}

.button_div{
  padding: 10px;
  margin-left: 47%;
  margin-bottom: 100px;
}

.home_text{
  margin-top: 15%;
  margin-left: 5%;
  position: absolute;
}

.home_welkom{
  font-size: 50px;
}

.home_welkom_website{
  font-size: 30px;
}

.home_titel{
  text-align: center;
  padding: 5px;
  font-size: 40px;
}

.home_contact{
  padding: 20px;
}

.home_covid_info{
  padding: 20px;
  width: 700px;
  
  margin-left: auto;
  margin-right: auto;
}

/* Tabels */
.opening, .prijzen{
  padding: 20px;
}

.opening h2, .prijzen h2{
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin-top: 25px;
  font-size: 20px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  margin-left: auto;
  margin-right: auto;
}

.table thead tr {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #000000;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 1px solid #000000;
}


/* footer */
.footer {
  display: inline-block;
  width: 100%;
  bottom: 0%;
  position: relative;
  background: darkslategray;
}
.footer-col{
  display: inline-block;
  padding-left: 20%;
}

.footer ul li{
  padding-top: 10px;
  list-style: none;
  margin: 10px 20px;
}

.footer ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 250ms;

}
.footer ul li a:hover{
  color: #29b8b4;
  transition: 250ms;
  padding: 5px;
  background-color: rgba(144, 238, 144, 0.37);
  border-radius: 20px;
}

/* Dierenpagina */
.dieren_gallery{
  padding: 5px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  height: 98vh;
  grid-template-areas: 
  'dier1 dier2 dier3'
  'dier4 dier5 dier6'
  'footer1 footer1 footer1';
}

.panda, .kleine_panda, .flamingo, .olifant, .giraf, .ping{
  border: solid black 2px;
  
}

.panda { 
    grid-area: dier1;
}

.kleine_panda { 
    grid-area: dier2;
}

.flamingo { 
    grid-area: dier3;
}

.olifant { 
    grid-area: dier4;
}

.giraf { 
    grid-area: dier5;
}

.ping { 
    grid-area: dier6;
}

.dieren_title{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

.title{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.title_info{
  margin-top: 20px;
  margin-bottom: 5x;
  text-align: center;
  font-size: 40px;
}

.info_dier{
  padding: 10px;
}

.dieren_img{
  width: auto;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: 460px;
  height: 215px;
  margin-bottom: 20px;
}