@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gemunu Libre', sans-serif;

}
#form{
    text-align: center;
    margin-top: 50px;
}
#button{
    size: 50px;
}
input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(144, 238, 144, 0.856);
    border-radius: 4px;
}
input[type=number] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(144, 238, 144, 0.856);
    border-radius: 4px;
}
input[type=email] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(144, 238, 144, 0.856);
    border-radius: 4px;
}
input[type=date] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(144, 238, 144, 0.856);
    border-radius: 4px;
}
input[type=submit] {
    padding: 20px 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid rgba(144, 238, 144, 0.856);
}

select[type=tickets] {
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid rgba(144, 238, 144, 0.856);
}

#covid{
    text-align: left;
    width: 120px;
    margin: auto;
}

#aap{
    width: 200px;
    position: absolute;
    left: 20%;
    top: 20%;
}

.prijzen{
    position: absolute;
    left: 20%;
    top: 20%;
    margin-right: 50px;
}