/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .infodier{
      padding-top: 18%;
  }

  .infodierentuin{
      padding-left: 20px;
      border: 5px solid black;
      width: 15%;
  }

  .tijden1{
    padding-left: 30%;
    padding-right: 30%;
    


  }
  .tijden{
    border: 5px solid black;
  }